.body {
	background: url('images.jpg') no-repeat;
	background-size: cover;
	font-family:arial;
	color: white;
}

/* menu */
ul {display:flex;
	justify-content:center;
	align-items:center;
	}

li {display:inline-block;
	padding: 0 20px;
	color:#fff;
	font-size:30px;
	transition: .5s;
	}
	
li a{text-decoration:none;
	color:#fff;
	transition: .5s;
	padding:10px;
	}
ul:hover li a{
		filter:blur(4px);
	}	
ul:hover li a:hover {
		font-size:40px;
		filter:blur(0px);
		background-color:#ede739;
	}

.load {
	position: absolute;
	top: 70%;
	left: 20%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	
	
}	

.load span {
	display: block;
	height: 15px;
	width: 15px;
	background: #19e3d5;
	margin-left: 20px;
	border-radius: 10px;
	animation: upDown 1.2s  infinite;
	
}

.load span:first-child{
	animation-delay: .15s;
}
.load span:nth-child(2){
	animation-delay: .3s;
}
.load span:nth-child(3){
	animation-delay: .45s;
}
.load span:nth-child(4){
	animation-delay: .6s;
}
.load span:last-child{
	animation-delay: .75s;
}

@keyframes upDown {
    0% { 
	height: 15px;
	background:#19e3d5;
	}
	50% { 
	height: 60px;
	background:#d33deb;
	}
	100% { 
	height: 15px;
	background:#f00243;
	}
	
}

table, td, th {  
	color:#ff00cc;
	border: 1px solid #ddd;
	text-align: left;
}

table {
	 border-collapse: collapse;
	 width: 100%;
}

th, td {
	padding: 15px;
}
td:hover {
	color:#00ff15;
}
.animation {
	color:#000000;
	margin-top:700px;
	float:left;
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 1px solid black;
	-ms-transform: rotate(20deg); 
	transform: rotate(20deg); 
}